.menu{
    width: auto;
    list-style-type: none;
    
}
.menu li{
    float: left;
    
    padding: 10px;
}

.menu li a{
    text-decoration: none;
    color:black;
    
}
.menu .Home a{
   
    font-size: 22px;
    font-weight: 900;
}
.menu li a{
    font-size: 18px;
    font-weight: 300;
}
.menu .DropDown .Conteudo-Dropdown {
    display: none;
    width: 150px;
    height: 180px;
    border-radius: 9px;
    margin-top: 10px;
    background-color:  rgb(232, 230, 230);
}
.menu .DropDown .Conteudo-Dropdown a{
    
    border-radius: 9px;
    padding: 5px 0 5px 17px;
    text-align: left;
    display: block;

    
}

.menu .DropDown .Conteudo-Dropdown .Em-breve{
    margin-top: 10px;
    border-radius: 0;
    border-top: 1px solid #ccc;

    
}
.menu .DropDown:hover .Conteudo-Dropdown{
    display: block;
    
}
.menu .DropDown .Conteudo-Dropdown a:hover{
    background-color: rgb(214, 214, 214);
    
}
